/* Brand-Specific Colors*/
body {
  --clr-primary: #C14E2D;
  --clr-alt: #C14E2D;
  --clr-secondary: #E18E33;
  --clr-link-hover: #C14E2D;
  --clr-tertiary: #F4BA46;
  --clr-quarternary: #A43535;
}

/** childReplacement brand_specific_colors **/
/** end childReplacement brand_specific_colors **/
.widget-quick-care {
  width: 100%;
  margin: 0 auto 20px;
  border: 1px solid #b2b2b2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.1215686275), 0px 4px 5px 0px rgba(0, 0, 0, 0.1411764706);
}
.widget-quick-care #amp-list {
  background-color: #ECECEC;
}
.widget-quick-care #amp-list div {
  line-height: 1;
}

.btn-more {
  display: none;
}

.slot-btns .timeslot-btn:nth-child(1n+5) ~ .btn-more {
  display: block;
}
