/* Brand-Specific Colors*/
body {
  --clr-primary: #C14E2D;
  --clr-alt: #C14E2D;
  --clr-secondary: #E18E33;
  --clr-link-hover: #C14E2D;
  --clr-tertiary: #F4BA46;
  --clr-quarternary: #A43535;
}

/** childReplacement brand_specific_colors **/
/** end childReplacement brand_specific_colors **/
#ftr > div {
  overflow: hidden;
}

#ftr {
  margin-top: 8rem;
  border-top: 5px solid #03335F;
}
#ftr p, #ftr a {
  line-height: 1.5;
}
#ftr .cpnt {
  margin: 0 auto;
  padding: 0 0 1.75rem;
  width: calc(100% - 60px);
}

#ftrTop {
  background-color: #ECECEC;
  padding: 17.5px 0;
}
#ftrTop #logoTHPGFtr {
  margin: 17.5px 43px;
  width: auto;
  max-width: 300px;
}
#ftrTop #logoTHRFtr {
  width: 273px;
  height: 58px;
  max-width: 194px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-wrapper .component-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3125rem;
  text-align: center;
  max-width: 75%;
}

#ftrBtm {
  background-color: #B2B2B2;
}
#ftrBtm p, #ftrBtm a {
  font-size: 1.3125rem;
}

#ftrContact {
  flex-basis: 100%;
}

#ftrContact, #ftrBeliefs {
  margin-right: 40px;
  margin-bottom: 10px;
}

#ftrCopyright {
  width: 100%;
}

.ftr-btm-links {
  display: inline-block;
  margin-right: 50px;
}

/* MEDIA QUERIES */
/* sm tablet */
@media (min-width: 768px) {
  #ftr h3 {
    font-size: 3.9375rem;
  }
  #ftr .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 750px;
  }
  #ftr .footer-wrapper .logo-wrapper {
    margin: 0;
  }
  #ftr .footer-wrapper .component-content {
    align-items: flex-start;
    text-align: left;
    max-width: 290px;
  }
  #ftrTopBkgd {
    background-size: 200vw;
  }
  #ftrTop .cpnt {
    flex-direction: row;
  }
  #ftrTop #logoTHPGFtr {
    max-width: 285px;
    margin-left: 40px;
    margin-bottom: 25px;
  }
  #ftrTop #logoTHRFtr {
    margin-bottom: 5px;
  }
  #ftrBtm p, #ftrBtm a {
    font-size: 1.75rem;
  }
}
/* lg tablet */
@media (min-width: 992px) {
  #ftr .footer-wrapper {
    max-width: 100%;
  }
  #ftr .footer-wrapper .component-content {
    max-width: 190px;
    margin-right: 40px;
  }
  #ftrTop #logoTHPGFtr {
    max-width: 240px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  #ftrTop #logoTHRFtr {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 145px;
    max-height: 31.66px;
  }
  #ftrCopyright {
    display: inline-block;
    width: auto;
    margin-right: 50px;
  }
}
/* desktop */
@media (min-width: 1280px) {
  #ftr .footer-wrapper {
    max-width: 1230px;
  }
  #ftr .footer-wrapper .component-content {
    max-width: 290px;
    margin-right: 0;
  }
  #ftrTop #logoTHPGFtr {
    max-width: 294px;
    margin-left: 40px;
    margin-bottom: 25px;
  }
  #ftrTop #logoTHRFtr {
    max-width: 196px;
    max-height: 42.64px;
  }
  #ftrBtm {
    text-align: left;
  }
}
