{base_scrollToTop}
{site_header}
{analytics_amp}

<main class="container">
    <a class="error-content-wrapper" href="/">
        <div class="error-content">
            <img src="https://www.piedmont.org/_img/404image.jpg" alt="The page you are looking for has either moved or is no longer available. Return to the Home Page or use the navigation on this page to find what you are looking for." width="499" height="234" layout="responsive">
        </div>
    </a>
    
    <div id="wompInvalidAmpOK"></div>
</main>

{site_footer}
{analytics_script}
{base_svgIcons}
{womp_amp_cleanup}

{#wompQuit}
{#wompInvalidAmpOK}
