/*******************************************************************
*  Transition Timings
********************************************************************/
a, button, .link, .svg-round {
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-property: background-color, color, border-color, border-width, box-shadow;
  transition-property: background-color, color, border-color, border-width, box-shadow;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.tran-100 {
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.tran-150 {
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.tran-200 {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

/*******************************************************************
*  Z-Index
********************************************************************/
header {
  z-index: 90;
}
header .nav-modal-overlay {
  z-index: 99;
}
header #modalNav {
  z-index: 100;
}

#searchHdr #autosuggest {
  z-index: 100;
}

#scrollToTop {
  z-index: 10;
}

main .hero-img-container {
  z-index: 0;
}
main .hero-text {
  z-index: 1;
}
main #widgets {
  z-index: 9;
}

#univModalClose {
  z-index: 2000;
}

.z-0 {
  z-index: 0;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*******************************************************************
*  Reset
********************************************************************/
*, :before, :after {
  box-sizing: border-box;
}

html, body, iframe, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

a img {
  border: none;
}

html {
  scroll-behavior: smooth;
}

body, header, main {
  position: relative;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Brand-Specific Colors*/
body {
  --clr-primary: #C14E2D;
  --clr-alt: #C14E2D;
  --clr-secondary: #E18E33;
  --clr-link-hover: #C14E2D;
  --clr-tertiary: #F4BA46;
  --clr-quarternary: #A43535;
}

/** childReplacement brand_specific_colors **/
/** end childReplacement brand_specific_colors **/
/*******************************************************************
*  General Settings
********************************************************************/
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at6E8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/vSzulfKSK0LLjjfeaxcREhkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 1.75rem;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p, li, td, input, textarea, select {
  font-weight: 400;
  font-style: normal;
}

h6, .h6 {
  font-weight: 600;
}

/* all imgs responsive by default, use max-width to constrain */
img {
  width: 100%;
  height: auto;
}

/* force object-fit: cover */
amp-img.cover.cover > img, img.cover {
  object-fit: cover;
}

/* initialize svg size to container */
svg {
  width: 100%;
  height: 100%;
}

#baseSVGIcons {
  display: none;
}

/*******************************************************************
*  Containers
********************************************************************/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, td {
  margin: 1em 0 0;
}

.container {
  max-width: 1400px;
  margin: 0 24px;
}

.cpnt {
  width: calc(100% - 64px);
  max-width: 100%;
  margin-left: 32px;
  margin-right: 32px;
}

@media (max-width: 575.98px) {
  .cpnt {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767.98px) {
  .cpnt {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .cpnt {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .cpnt {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
  }
}
/*******************************************************************
*  Buttons and Links
********************************************************************/
a, .link {
  color: #003798;
  border-bottom: 1px solid transparent;
}

a.a-block, .link.a-block {
  border-bottom: 3px solid transparent;
}

a:hover, .link:hover {
  color: var(--clr-primary);
}

a:focus-visible, .link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--clr-secondary);
}

a:active:hover, a:active:focus-visible, .link:active:hover, .link:active:focus-visible {
  color: #03335F;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  button, input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
button, input, textarea, select, .btn-link {
  border: none;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #B2B2B2;
}

button:focus-visible, input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 0;
  border-color: transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--clr-secondary);
}

input:hover, input:focus-visible:hover,
textarea:hover, textarea:focus-visible:hover,
select:hover, select:focus-visible:hover {
  border-color: #535353;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, #000 60%), linear-gradient(135deg, #000 40%, transparent 50%);
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
}

button {
  background: none;
}

.btn {
  background: none;
  border: 1px solid #B2B2B2;
  padding: 8px 12px;
  font-weight: 700;
  line-height: 1rem;
}

.btn:hover, .btn:focus-visible {
  background-color: #ECECEC;
}

.btn:active {
  background-color: #B2B2B2;
}

.btn.selected {
  background-color: var(--clr-primary);
  color: #fff;
}

.btn-primary, input[type=submit], .btn-round {
  text-align: center;
  background-color: var(--clr-primary);
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  gap: 8px;
  display: flex;
  text-align: center;
  align-items: center;
}

.svg-round {
  color: var(--clr-primary);
}

.btn-round, .svg-round {
  border-radius: 50%;
}

.btn-primary, input[type=submit] {
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  width: min-content;
}
.btn-primary svg, input[type=submit] svg {
  width: 20px;
  height: 20px;
}

.btn-primary:focus-visible, input[type=submit]:focus-visible,
.btn-round:focus-visible, .svg-round:focus-visible {
  border-color: transparent;
  outline: 0;
}

.btn-primary:focus-visible, input[type=submit]:focus-visible,
.btn-round:focus-visible {
  background-color: var(--clr-primary);
  color: #fff;
}

.btn-primary:hover, input[type=submit]:hover,
.btn-round:hover {
  background-color: var(--clr-secondary);
  color: #fff;
  text-decoration: none;
}

.svg-round:hover {
  color: #3a87ce;
}

.btn-primary:focus-visible:hover, input[type=submit]:focus-visible:hover,
.btn-round:focus-visible:hover, .svg-round:focus-visible:hover {
  border-color: transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--clr-secondary);
}

.btn-primary:active:hover, .btn-primary:active:focus-visible,
input[type=submit]:active:hover, input[type=submit]:active:focus-visible,
.btn-round:active:hover, .btn-round:active:focus-visible {
  background-color: var(--clr-secondary);
  color: #fff;
}

.svg-round:active:hover, .svg-round:active:focus-visible {
  color: var(--clr-secondary);
}

.btn-primary-light {
  color: #003798;
  background-color: #fff;
  border: 1px solid #B2B2B2;
}

.btn-primary-light:hover {
  background-color: #F7F7F7;
  border: 1px solid #535353;
  box-shadow: 0 0 0 4px var(--clr-primary);
}

.btn-primary-light:active,
.btn-primary-light:focus-visible {
  background-color: #ECECEC;
  box-shadow: 2px #fff 4px var(--clr-primary);
}

.btn-primary-light {
  color: #003798;
  background-color: #fff;
  border: 1px solid #B2B2B2;
}

.btn-primary-light:hover {
  background-color: #F7F7F7;
  border: 1px solid #535353;
  box-shadow: 0 0 0 4px var(--clr-primary);
}

.btn-primary-light:active,
.btn-primary-light:focus-visible {
  background-color: #ECECEC;
  box-shadow: 2px #fff 4px var(--clr-primary);
}

.no-tap {
  pointer-events: none;
}

.cursor-default {
  cursor: default;
}

button, .cursor-pointer {
  cursor: pointer;
}

/*******************************************************************
*  Color Utility Classes
********************************************************************/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

/*******************************************************************
*  Other Utility Classes
********************************************************************/
.b-0 {
  border: none;
}

.bl-0 {
  border-left: none;
}

.br-0, .btn-group > .btn:not(:last-child) {
  border-right: none;
}

.border-b-grey {
  border-bottom: 1px solid #B2B2B2;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-100 {
  opacity: 100%;
}

.rad12 {
  border-radius: 12px;
}

.ldp-only {
  display: none;
}

.psp-only {
  display: none;
}

.page-LDP .ldp-only {
  display: block;
}

.page-PSP .psp-only {
  display: block;
}

.page-LDP .line-clamp-5.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/** childReplacement breezeCareUnique **/
/** end childReplacement breezeCareUnique **/
/*******************************************************************
*  Typography Utility Classes
********************************************************************/
.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-ctr {
  text-align: center;
}

.txt-middle {
  vertical-align: middle;
}

.txt-black {
  color: #000;
}

.txt-white {
  color: #fff;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: normal;
}

.semibold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.light-semibold {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.unsetCase {
  text-transform: unset;
}

.underline {
  text-decoration: underline;
}

.txt-xs.txt-xs {
  font-size: 12px;
}

.txt-sm.txt-sm {
  font-size: 16px;
}

.txt-md.txt-md {
  font-size: 20px;
}

.txt-lg.txt-lg {
  font-size: 24px;
}

.txt-xl.txt-xl {
  font-size: 34px;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.line-h-1 {
  line-height: 1rem;
}

.line-h-12 {
  line-height: 1.2rem;
}

.line-h-1364 {
  line-height: 1.364rem;
}

.line-h-15 {
  line-height: 1.5rem;
}

.line-h-26 {
  line-height: 2.6rem;
}

.line-h-34 {
  line-height: 3.4rem;
}

/*******************************************************************
*  Flex
********************************************************************/
.flx,
.flx-mid-ctr,
.flx-mid-just,
.flx-border-ctr,
.flx-end {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.flx-inline {
  display: inline-flex;
}

.flx-algn-base {
  align-items: baseline;
}

.flx-algn-ctr,
.flx-mid-ctr,
.flx-mid-just,
.flx-border-ctr {
  align-items: center;
}

.flx-algn-end {
  align-items: flex-end;
}

.flx-algn-strt,
.flx-strt,
.flx-top {
  align-items: flex-start;
}

.flx-algn-stch {
  align-items: stretch;
}

.flx-col {
  flex-direction: column;
}

.flx-row {
  flex-direction: row;
}

.flx-gap-05 {
  gap: 0.5rem;
}

.flx-gap-1 {
  gap: 1rem;
}

.flx-gap-2 {
  gap: 2rem;
}

.flx-just-ctr,
.flx-mid-ctr {
  justify-content: center;
}

.flx-just-end,
.flx-end {
  justify-content: flex-end;
}

.flx-just-strt,
.flx-strt,
.flx-top {
  justify-content: flex-start;
}

.flx-mid-just,
.flx-just-spce-b {
  justify-content: space-between;
}

.flx-grow {
  flex-grow: 1;
}

.flx-wrap {
  flex-wrap: wrap;
}

.flx-nowrap {
  flex-wrap: nowrap;
}

.flx-self-ctr {
  align-self: center;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .mobW-flx {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
}
@media (min-width: 768px) {
  .tabV-flx {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
}
@media (min-width: 992px) {
  .tab-flx {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
}
/*******************************************************************
*  Flexbox System
********************************************************************/
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media (min-width: 768px) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media (min-width: 992px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media (min-width: 1280px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
/*******************************************************************
*  Width and Height
********************************************************************/
.w100 {
  width: 100%;
}

.w100vw {
  width: 100vw;
}

.w16 {
  width: 1.6rem;
}

.w20 {
  width: 2rem;
}

.w25 {
  width: 2.5rem;
}

.h100 {
  height: 100%;
}

.h100vh {
  height: 100vh;
}

.h16 {
  height: 1.6rem;
}

.h20 {
  height: 2rem;
}

.h25 {
  height: 2.5rem;
}

/*******************************************************************
*  Margin and Padding
********************************************************************/
.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.m-025 {
  margin: 0.25rem;
}

.mx-025 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-025 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-025 {
  margin-top: 0.25rem;
}

.mb-025 {
  margin-bottom: 0.25rem;
}

.mr-025 {
  margin-right: 0.25rem;
}

.ml-025 {
  margin-left: 0.25rem;
}

.p-025 {
  padding: 0.25rem;
}

.px-025 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-025 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-025 {
  padding-top: 0.25rem;
}

.pb-025 {
  padding-bottom: 0.25rem;
}

.pr-025 {
  padding-right: 0.25rem;
}

.pl-025 {
  padding-left: 0.25rem;
}

.m-04 {
  margin: 0.4rem;
}

.mx-04 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.my-04 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.mt-04 {
  margin-top: 0.4rem;
}

.mb-04 {
  margin-bottom: 0.4rem;
}

.mr-04 {
  margin-right: 0.4rem;
}

.ml-04 {
  margin-left: 0.4rem;
}

.p-04 {
  padding: 0.4rem;
}

.px-04 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.py-04 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.pt-04 {
  padding-top: 0.4rem;
}

.pb-04 {
  padding-bottom: 0.4rem;
}

.pr-04 {
  padding-right: 0.4rem;
}

.pl-04 {
  padding-left: 0.4rem;
}

.m-05 {
  margin: 0.5rem;
}

.mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.p-05 {
  padding: 0.5rem;
}

.px-05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.m-08 {
  margin: 0.8rem;
}

.mx-08 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.my-08 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.mt-08 {
  margin-top: 0.8rem;
}

.mb-08 {
  margin-bottom: 0.8rem;
}

.mr-08 {
  margin-right: 0.8rem;
}

.ml-08 {
  margin-left: 0.8rem;
}

.p-08 {
  padding: 0.8rem;
}

.px-08 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.py-08 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.pt-08 {
  padding-top: 0.8rem;
}

.pb-08 {
  padding-bottom: 0.8rem;
}

.pr-08 {
  padding-right: 0.8rem;
}

.pl-08 {
  padding-left: 0.8rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.m-12 {
  margin: 1.2rem;
}

.mx-12 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.my-12 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mr-12 {
  margin-right: 1.2rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.p-12 {
  padding: 1.2rem;
}

.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.py-12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.pt-12 {
  padding-top: 1.2rem;
}

.pb-12 {
  padding-bottom: 1.2rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pl-12 {
  padding-left: 1.2rem;
}

.m-125 {
  margin: 1.25rem;
}

.mx-125 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-125 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-125 {
  margin-top: 1.25rem;
}

.mb-125 {
  margin-bottom: 1.25rem;
}

.mr-125 {
  margin-right: 1.25rem;
}

.ml-125 {
  margin-left: 1.25rem;
}

.p-125 {
  padding: 1.25rem;
}

.px-125 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-125 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-125 {
  padding-top: 1.25rem;
}

.pb-125 {
  padding-bottom: 1.25rem;
}

.pr-125 {
  padding-right: 1.25rem;
}

.pl-125 {
  padding-left: 1.25rem;
}

.m-15 {
  margin: 1.5rem;
}

.mx-15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.ml-15 {
  margin-left: 1.5rem;
}

.p-15 {
  padding: 1.5rem;
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.pl-15 {
  padding-left: 1.5rem;
}

.m-16 {
  margin: 1.6rem;
}

.mx-16 {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.my-16 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mr-16 {
  margin-right: 1.6rem;
}

.ml-16 {
  margin-left: 1.6rem;
}

.p-16 {
  padding: 1.6rem;
}

.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.py-16 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pr-16 {
  padding-right: 1.6rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.m-175 {
  margin: 1.75rem;
}

.mx-175 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-175 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.mt-175 {
  margin-top: 1.75rem;
}

.mb-175 {
  margin-bottom: 1.75rem;
}

.mr-175 {
  margin-right: 1.75rem;
}

.ml-175 {
  margin-left: 1.75rem;
}

.p-175 {
  padding: 1.75rem;
}

.px-175 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-175 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pt-175 {
  padding-top: 1.75rem;
}

.pb-175 {
  padding-bottom: 1.75rem;
}

.pr-175 {
  padding-right: 1.75rem;
}

.pl-175 {
  padding-left: 1.75rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.m-24 {
  margin: 2.4rem;
}

.mx-24 {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.my-24 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mr-24 {
  margin-right: 2.4rem;
}

.ml-24 {
  margin-left: 2.4rem;
}

.p-24 {
  padding: 2.4rem;
}

.px-24 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.py-24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pr-24 {
  padding-right: 2.4rem;
}

.pl-24 {
  padding-left: 2.4rem;
}

.m-32 {
  margin: 3.2rem;
}

.mx-32 {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.my-32 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.mt-32 {
  margin-top: 3.2rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mr-32 {
  margin-right: 3.2rem;
}

.ml-32 {
  margin-left: 3.2rem;
}

.p-32 {
  padding: 3.2rem;
}

.px-32 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.py-32 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.pt-32 {
  padding-top: 3.2rem;
}

.pb-32 {
  padding-bottom: 3.2rem;
}

.pr-32 {
  padding-right: 3.2rem;
}

.pl-32 {
  padding-left: 3.2rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.m-64 {
  margin: 6.4rem;
}

.mx-64 {
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

.my-64 {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.mt-64 {
  margin-top: 6.4rem;
}

.mb-64 {
  margin-bottom: 6.4rem;
}

.mr-64 {
  margin-right: 6.4rem;
}

.ml-64 {
  margin-left: 6.4rem;
}

.p-64 {
  padding: 6.4rem;
}

.px-64 {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.py-64 {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.pt-64 {
  padding-top: 6.4rem;
}

.pb-64 {
  padding-bottom: 6.4rem;
}

.pr-64 {
  padding-right: 6.4rem;
}

.pl-64 {
  padding-left: 6.4rem;
}

.mt-auto,
.my-auto,
.my-a {
  margin-top: auto;
}

.mb-auto,
.my-auto,
.my-a {
  margin-bottom: auto;
}

.ml-auto,
.mx-auto,
.mx-a {
  margin-left: auto;
}

.mr-auto,
.mx-auto,
.mx-a {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

/*******************************************************************
*  Position and Visibility
********************************************************************/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide {
  opacity: 0;
}

.reveal {
  opacity: 1;
}

.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.fill {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.rotate-90 {
  rotate: 90deg;
}

/* MEDIA QUERIES */
/* phone */
@media (min-width: 576px) {
  .mobW-block {
    display: block;
  }
}
@media (min-width: 576px) {
  .mobW-hidden {
    display: none;
  }
}
/* up to lg tablet */
@media (max-width: 991.98px) {
  .tab-only {
    display: none;
  }
}
/* lg tablet */
@media (min-width: 992px) {
  .tab-hidden {
    display: none;
  }
}
@media (min-width: 992px) {
  .tab-block {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .tab-v-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .tab-v-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .tab-v-block {
    display: block;
  }
}
/* up to desktop */
@media (max-width: 1279.98px) {
  .dsk-only {
    display: none;
  }
}
/*******************************************************************
*  Womp Classes
********************************************************************/
/* loader */
.loader {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f3f3f3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
  SASS COMPILING
  input: ./src/sass/index.scss
  output: ./src/project-css.css

  terminal command:
    sass --watch ./src/sass/index.scss ./src/project-css.css
*/
